body {
  margin: 0 !important;
  font-family: 'poppins' ;
  background-color: #fff !important;
  
}




.btn {
  background-color:  #000!important;
  border: 1.5px solid purple !important;
  border-radius: 10px !important;
  box-sizing: border-box ;
  color: #FFFFFF !important;
}


/* Focus state */
.btn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

/* Active state */
.btn:active {
  background-color: #F7F7F7;
  border-color: green;
  /* Ensure this is the color you want */
  transform: scale(.96);
}

/* Disabled state */
.btn:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}




/* For React Bootstrap Card */
.card {
  background-color: #222222 !important;
  /* border: 1px solid #ffd001 !important; */
  /* border-radius: 10px !important; */
  /* color: #ffffff !important; */
}

/* For Card title and text */
.card-title {
  color: #ffffff !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  color: #cccccc !important;
  font-size: 1rem;
}




/* For Table */
.table {
  background-color: #0e1117 !important; 
  color: #ffffff; 
  border: 1px solid #222222 !important; 
}

.table th,tr, .table td {
  border-color: #444444 !important; 
}


.table tbody td {
  background-color: #222222;
}




/* Table hover state */
.table-hover tbody tr:hover {
  background-color: #222222 !important; 
}

/* Table striped rows */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #1a1a1a !important; 
}


/* Custom styles for input field */
input {
  background-color: #e2e2e2 !important; 
  color: #2c2c2c !important;
  border: .1px solid #cfcfcf !important; 
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

input::placeholder {
  color: #ffffff; 
}

/* Input field focus state */
input:focus {
  outline: none;
  border-color: #2d2d2d !important;
  box-shadow: 0 0 5px rgba(252, 176, 69, 0.5);
}
